<div class="mt-4 relative overflow-x-auto shadow-md sm:rounded-lg">
  <a routerLink="/admin/new-product" class="">
    <button class="w-[100px] bg-blue-500">Thêm sản phẩm</button>
  </a>
  <table class="mt-6 w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Index</th>
        <th scope="col" class="px-6 py-3">Product name</th>
        <th scope="col" class="px-6 py-3">Ảnh</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
        *ngFor="let product of products; index as index"
      >
        <td class="px-6 py-4">{{ index }}</td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ product.name }}
        </th>
        <td class="px-6 py-4"><img class="w-10 h-10" src="{{product.avatar}}"/></td>
        <td class="px-6 py-4">{{ product.price }}</td>
        <td class="px-6 py-4">
          <a
            routerLink="{{ product.id }}/edit"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            <button class="btn btn-primary">Sửa</button></a
          >

          <button
            class="btn btn-primary ml-4"
            (click)="handleRemove(product.id)"
          >
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
