
<div class="banner_bg_main">
  <div class="container">
    <div class="header_section_top">
      <div class="row">
        <div class="col-sm-12">
          <div class="custom_menu">
            <ul>
              <li><a href="#">Bán chạy nhất</a></li>
              <li><a href="#">Ý tưởng quà tặng</a></li>
              <li><a href="#">Bản phát hành</a></li>
              <li><a href="#">Ưu đãi hôm nay</a></li>
              <li><a href="#">Dịch vụ khách hàng</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="logo_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo flex items-center justify-center">
            <a href="index.html"><img src="https://4192879.fs1.hubspotusercontent-na1.net/hub/4192879/hubfs/Blog%20Images/2022/May/Royalty%20free%20dance%20music%20.png?width=944&height=590&name=Royalty%20free%20dance%20music%20.png" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header_section">
    <div class="container">
      <div class="containt_main">
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >
          <a href="index.html">Trang chủ</a>
          <a href="fashion.html">Thời trang</a>
        </div>
        <!-- <span class="toggle_icon" onclick="openNav()"
          ><img src=".src/app/images/toggle-icon.png"
        /></span> -->
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Danh mục sản phẩm
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Hoạt đông</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#">Hành động khác</a>
          </div>
        </div>
        <div class="main">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search this blog"
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary"
                type="button"
                style="background-color: #f26522; border-color: #f26522"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="header_box">
          <div class="lang_box">
            <!-- <a
              href="#"
              title="Language"
              class="nav-link"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              <img
                src="images/flag-uk.png"
                alt="flag"
                class="mr-2"
                title="United Kingdom"
              />
              English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
            </a> -->
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">
                <img src="images/flag-france.png" class="mr-2" alt="flag" />
                French
              </a>
            </div>
          </div>
          <div class="login_menu">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span class="padding_10">Gio hàng</span></a
                >
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span class="padding_10">Thông tin</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="fashion_section">
  <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <h1 class="fashion_taital">Chi Tiết Sản phẩm</h1>
          <div *ngFor="let product of products">
            <a (click)="goToProductDetail(product.id)">
              <h2>{{product.name}}</h2>
              <p>{{product.avatar}}</p>
              <p>Price: {{product.price}}</p>
            </a>
          </div>
        </div>
      </div>
    <a
      class="carousel-control-prev"
      href="#electronic_main_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#electronic_main_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>

<div class="footer_section layout_padding">
  <div class="container">
    <!-- <div class="footer_logo">
      <a href="index.html"><img src="images/footer-logo.png" /></a>
    </div> -->
    <div class="input_bt">
      <input
        type="text"
        class="mail_bt"
        placeholder="Your Email"
        name="Your Email"
      />
      <span class="subscribe_bt" id="basic-addon2"
        ><a href="#">Subscribe</a></span
      >
    </div>
    <div class="footer_menu">
      <ul>
        <li><a href="#">Bán chạy nhất</a></li>
        <li><a href="#">Ý tưởng quà tặng</a></li>
        <li><a href="#">Bản phát hành</a></li>
        <li><a href="#">Ưu đãi hôm nay</a></li>
        <li><a href="#">Dịch vụ khách hàng</a></li>
      </ul>
    </div>
    <div class="location_main">Liên hệ : <a href="#">12345678</a></div>
  </div>
</div>

<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">
      © 2020 All Rights Reserved. Design by
      <a href="https://html.design">Free html Templates</a>
    </p>
  </div>
</div>
