<body>



  <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
          </div>
          <form [formGroup]="formSignup" (ngSubmit)="onHandleSubmit()" novalidate>

            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email">
              <div *ngIf="formSignup.get('email')?.hasError('required') && (formSignup.get('email')?.touched || formSignup.get('email')?.dirty)">
                Email is required
              </div>
              <div *ngIf="formSignup.get('email')?.hasError('email') && (formSignup.get('email')?.touched || formSignup.get('email')?.dirty)">
                Invalid email
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" class="form-control" placeholder="********" formControlName="password">
              <div *ngIf="formSignup.get('password')?.hasError('required') && (formSignup.get('password')?.touched || formSignup.get('password')?.dirty)">
                Password is required
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" name="confirmPassword" class="form-control" placeholder="********" formControlName="confirmPassword">
              <div *ngIf="formSignup.hasError('misMatch') && (formSignup.get('confirmPassword')?.touched || formSignup.get('confirmPassword')?.dirty)">
                Passwords do not match
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="formSignup.invalid" class="btn btn-my">Sign Up</button>
            </div>
            <div class="text-center login">
              Already have an account? <a routerLink="/login">Login</a> here.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
